.headerDiv {
  width: 100%;
  background: red;
  text-align: center;
  position: sticky;
  top: 0;
}

.flexer {
  display: flex;
  min-height: 90%;
}

.leftDiv {
  width: 20%;
  background: #0ff14f;
}

.rightDiv {
  width: 70%;
  background: green;
}

.rightDivLeft {
  width: 45%;
  min-height: 90%;
  background: coral;
}

.rightDivRight {
  width: 45%;
  min-height: 90%;
  background: yellow;
}

.rightDivRightInside {
  min-width: 80%;
  background: #f78d23;
}

.centered {
  align-content: center;
}

.sticky {
  position: sticky;
}

.blue {
  background-color: blue;
}

.bottom {
  bottom: 0;
  background-color: #99ffff;
  opacity: 0.8;
  color: purple;
}
