.parent {
    background: aquamarine;
    height: 75vh;
    width: 75vw;
    padding: 1em;
    position: relative;
}

.parent p {
    position: relative;
    z-index: 10;
}

.child {
    background: red;
    position: absolute;
    height: 50px;
    width: 50px;
    left:0;
    top: 0;
    
}

